{% extends 'base.html.twig' %}


{% block title %} 
    Categorie Controller
{% endblock %}

{% block body %}
{% include 'AdminMenu.html.twig' %}

        <h1> page Categorie </h1>




{% endblock %}
