{% extends 'base.html.twig' %}


{% block title %} 
    Extensions Controller
{% endblock %}

{% block body %}
{% include 'AdminMenu.html.twig' %}

        <h1> page Extensions </h1>




{% endblock %}
