{% extends 'base.html.twig' %}


{% block title %} 
    Leslocation Controller
{% endblock %}

{% block body %}
{% include 'UserMenu.html.twig' %}

        <h1> page locations </h1>




{% endblock %}
