{% extends 'base.html.twig' %}


{% block title %} 
    Utilisateurs Controller
{% endblock %}

{% block body %}
{% include 'AdminMenu.html.twig' %}

        <h1> page Utilisateurs </h1>




{% endblock %}
